.mailing-block {
  display: flex;
  margin-top: 20px;
}

.mailing-block .btn::after {
  content: " ";
  background-image: url("../../img/icons/send.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.mailing-block .btn:hover {
  color: $main-white-color;
  background-color: $accent-color;
}
