@font-face {
  font-family: "Roboto";
  src: url(../../fonts/roboto/Roboto.woff) format ("woff"),
    url(../../fonts/roboto/Roboto.woff2) format ("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/roboto/Robotomedium.woff) format ("woff"),
    url(../../fonts/roboto/Robotomedium.woff2) format ("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/roboto/Robotobold.woff) format ("woff"),
    url(../../fonts/roboto/Robotobold.woff2) format ("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/roboto/Robotoblack.woff) format ("woff"),
    url(../../fonts/roboto/Robotoblack.woff2) format ("woff2");
}

@font-face {
  font-family: "Raleway";
  src: url(../../fonts/raleway/ralewaybold.woff) format ("woff"),
    url(../../fonts/raleway/ralewaybold.woff2) format ("woff2");
}
